/* set up icon font for calendar buttons*/
@charset "UTF-8";

@font-face {
  font-family: "hubcal";
  src:url("fonts/hubcal.eot");
  src:url("fonts/hubcal.eot?#iefix") format("embedded-opentype"),
    url("fonts/hubcal.woff") format("woff"),
    url("fonts/hubcal.ttf") format("truetype"),
    url("fonts/hubcal.svg#hubcal") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hubcal" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-month:before {
  content: "\61";
}
.icon-week:before {
  content: "\62";
}
.icon-day:before {
  content: "\63";
}
.icon-list:before {
  content: "\64";
}
.icon-google-calendar:before {
  content: "\65";
}
.icon-calendar:before {
  content: "\66";
}

.icon:before{
  font-size: 1.22em;
  vertical-align: middle;
}

/* general */  
body {
  margin: 10px 10px 40px 10px;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}
.aligncenter{
  clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.responsive{
  max-width: 100%;
  height: auto;
}


/* settings button */
#menu-button {
  display: none;
  margin-bottom: 10px;
}

/* settings / feeds */
#settings {
    padding: 3px 5px;
    width: auto;
    margin: 0 auto 10px auto;
    display: inline-block;
    border-radius: 5px;
}
#settings .header {display: none; text-align: right;}
#settings h4{display: inline-block;}
#categoryList {display:inline;margin: 0;}
#categoryList li {
	display:inline-block;
	padding: 2px 5px;
	border-radius: 5px;
	margin: 5px 5px 5px 0;
	border: 1px solid transparent;
	box-shadow: 0;
}
#categoryList li:hover {
	cursor:pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset,
             0 0 2px rgba(255, 255, 255, 0.3) inset,
             0 1px 2px rgba(0, 0, 0, 0.29);
}

#settings #iCalURL input{width: 100%; max-width: 600px;}

/* calendar */
#calendar {
  max-width: 900px;
  margin: 0 auto;
}
.fc-content:hover{cursor: pointer;}
.fc button{padding:0 0.5em;}

/* modals */
#progressModal{top:30%;}

/* responsive stuff */
#menu-button {display: inline-block;}
#menu-button::after {content:' <- Click here to  choose categories'}
#settings {width: 100%; display: none;text-align:center;}
#close-button {float:left;}

#buttonhelp{display: inline-block;}

.mobile #buttonhelp{display: none;}

.mobile #menu-button {display: inline-block;}
.mobile #settings {width: 100%; display: none;}
.mobile #settings .header {display: block;}
.mobile #feedList li {display: block;}
.mobile .fc-center {margin-top: 1em;}

/* colour scheme */
#settings {background-color: #eee;}
#settings .header {background-color: #ddd;}
#categoryList li.disabled{
	background-color: transparent !important;
	color: #666 !important;
	border: 1px solid #666;
}
.btn-primary{background-color: #8dc63f; border-color: #75a434;}
.btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #7db038;
    border-color: #304416;
}
.btn a{color:#fff;}
.icon:before{
  color: #75a434;
}
.icon:hover:before{
  color: #66912f;  
}
.fc-state-active .icon:before{
  color: #ffffff;  
}
.fc-button{
  background-color: #f5f5f5;
  border-color: #75a434;
}

.fc-state-active{
    background-color: #7db038;
    border-color: #66912f;  
}